@use './abstracts' as *;

header {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  background-color: white;
  display: flex;
  align-items: center;

  h1 {
    margin-inline-start: 0.5em;
    text-transform: uppercase;
  }

  #hamburger {
    display: none;
    color: black;
    margin-inline-start: auto;
    margin-inline-end: 2em;
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
      cursor: pointer;
    }

    @include mq (small){
      display: block;
    }
  }

  nav {
    margin-inline-start: auto;

    ul {
      display: flex;

      @include mq (small){
        display: block;
      }
    }

    a {
      display: block;
      padding: 1em 2em;
      transition: all 100ms ease-out;
      text-transform: capitalize;

      &:hover {
        background-color: black;
        color: white;
      }

      @include mq(small){
        padding: 3em;
      }
    }

    &.open{
      @include mq(small){
        transform: translateX(0);
      }
    }

    @include mq(small){
      z-index: 9999;
      position: absolute;
      background-color: white;
      inset: 0 auto 0 0;
      width: 80vw;
      height: 100vh;

      transform: translateX(-80vw);
      transition: transform 0.3s ease;
    }
  }
}

main {
  padding-block-start: 3.5em;
  min-height: 100vh;
  
  .hero {
    min-height: 40vh;
    background-color: gray;
    background-image: url('../public/images/heros/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin-inline: auto;

    @include mq(large){
      max-width: 1000px;
    }
  }

  .explore__title {
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    padding-block: 1em;
  }

  .restaurant__item {
    background-color: red;
  }
}

footer {
  text-align: center;
  border-top: 2px solid black;
  padding: 1em;
}
